body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.thumbnail img {
    width: 100px;
    height: auto;
}

a:hover, a:focus {
    text-decoration: none;
}

.thumbnail {
    width: 170px;
    height: 170px;
    font-size: .85em;
}

.thumbnail h4,h3 {
    font-size: 1em;
    font-weight: bold;
}

.categorias {
    width: 100px;
    height: 100px;
}

.categorias img {
    width: 50px;
    height: auto;
}

.linkButton {
    background: none;
    border: none;
    // color: #0066ff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.3em;
}

.button-link {
    background-color: transparent;
    border: none;
}

.button-link:hover {
    color: blue;
    text-decoration: underline;
}

/********************** Signin ********/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/******** List Groups Contextual *****/
a.list-group-item-success:focus, a.list-group-item-success:hover,
button.list-group-item-success:focus, button.list-group-item-success:hover{
    background-color: #d0e9c6;
    color: #3c763d;
}

.list-group-item-success {
    background-color: #dff0d8;
    color: #3c763d;
}

a.list-group-item-info:focus , a.list-group-item-info:hover,
button.list-group-item-info:focus, button.list-group-item-info:hover {
    background-color: #c4e3f3;
    color: #31708f;
}

.list-group-item-info {
    background-color: #d9edf7;
    color: #31708f;
}

a.list-group-item-warning:focus , a.list-group-item-warning:hover,
button.list-group-item-warning:focus, button.list-group-item-warning:hover {
    background-color: #faf2cc;
    color: #8a6d3b;
}
.list-group-item-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

a.list-group-item-danger:focus , a.list-group-item-danger:hover,
button.list-group-item-danger:focus, button.list-group-item-danger:hover {
    background-color: #ebcccc;
    color: #a94442;
}
.list-group-item-danger {
    background-color: #f2dede;
    color: #a94442;
}


/******************* RIBBONS ********************************************/
.box {

    position:relative;

}
.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold; line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); /* Needed for Safari */
    width: 100px; display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: '';
    position: absolute;
    left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.ribbon span::after {
    content: '';
    position: absolute;
    right: 0%; top: 100%;
    z-index: -1;
    border-right: 3px solid #79A70A;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.red span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
.red span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
.red span::after {border-right-color: #8F0808; border-top-color: #8F0808;}

.blue span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
.blue span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
.blue span::after {border-right-color: #1e5799; border-top-color: #1e5799;}

/********* Disabled Formularios *********/

input:disabled, textarea:disabled, option:disabled, optgroup:disabled, select:disabled:disabled {
    -moz-user-input: disabled;
    background-color: threedlightshadow;
    color: black;
}